.question-text{
    padding: 1rem;
    color: white;
    background-color:  var(--primary-color);
    border-radius: 5rem;
}

.question-answer{
    background-color: white;
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

@media (max-width: 769px) {
    .question-answer {
        border-radius: 1rem;
        padding: .5rem;
        font-size: 1rem;
    }
}

.question-answer:hover:enabled {
    background-color: var(--primary-color);
    color: white;

    background-image: repeating-linear-gradient(0deg, white, white 10px, transparent 10px, transparent 20px, white 20px), repeating-linear-gradient(90deg, white, white 10px, transparent 10px, transparent 20px, white 20px), repeating-linear-gradient(180deg, white, white 10px, transparent 10px, transparent 20px, white 20px), repeating-linear-gradient(270deg, white, white 10px, transparent 10px, transparent 20px, white 20px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}

.correct-answer{
    background-color: #56cc9d;
    color: white;
    border-color: #20c997;
}

.wrong-answer{
    background-color: #e83e8c;
    color: white;
    border-color: #ff7851;
}

#quiz-header{
    display: inline;
    border-bottom: 3px solid var(--primary-color);
}