body{
    color: white;
}

.navbar{
    border-radius: 0 0 1rem 1rem;
}

.bg{
    height: 100vh;
    background-image: url('assets/layered-waves-haikei.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}


#pop-up{
    position: fixed;
}

.hidden {
    display: none;
}

h1, h2 {
    color: white;
}

.quiz-type{
    /* background-color: #6cc3d5; */
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
}

.theme-blue{
    background-color: #007bff;
}

.theme-green{
    background-color: #e83e8c;  
}

.theme-purple{
    background-color: #6f42c1;
}

.quiz-type h2{
    color: white;
}

.start-quiz-btn{
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
    border: none;
}

.img{
    display: block;
}







